.facts {
    border: 1.5px solid blue;
    padding: 1em;
    margin: 0.5em;
    display: flex; 
    justify-content: space-between;
    gap: 10px;
    gap: 10px 20px; 
    row-gap: 10px;
    column-gap: 20px;
   
}
.comfacts {
    border: 1.5px solid goldenrod;
    padding: 1em;
    margin: 0.5em;
    display: flex; 
    justify-content: space-between;
    gap: 10px;
    gap: 10px 20px; 
    row-gap: 10px;
    column-gap: 20px;
}
.legisfacts {
    border: 1.5px solid blue;
    padding: 1em;
    margin: 0.5em;
    display: flex; 
    justify-content: space-between;
    gap: 10px;
    gap: 10px 20px; 
    row-gap: 10px;
    column-gap: 20px;
}